 .maintitle{
  height:40px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.5);
 }
 .maintitle-text{
    color: red ;
    width: 80px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
 }
 .background-video {
   position: absolute;
   right: 0;
   bottom: 0px;
   min-width: 100%;
   min-height: 90%;
   width: auto;
   height: auto;
   z-index: -100;
   -webkit-filter:grayscale(100%)
 }
